.container {
}

.featured_image {
  width: 100%;
  height: auto;
  max-height: 500px;
  aspect-ratio: 2/1;
  object-fit: cover;
  margin-bottom: 30px;
}

.title {
  font-family: IndieFlower-Regular, Arial, serif;
  font-weight: bold;
  margin-bottom: 20px;
}

.wp_content {
  text-align: left;
}

.wp_content h4,
h2 {
  font-family: IndieFlower-Regular, Arial, serif;
  font-weight: bolder;
}

.wp_content figure {
  text-align: center;
  display: table;
  margin: auto;
  clear: both;
}

.wp_content figcaption {
  line-height: 1.5;
  margin: 6px 0 0 0;
  color: #8c8c8c;
  text-align: center;
  caption-side: bottom;
  display: table-caption;
  font-size: 0.813em;
  max-width: calc(100% - 48px);
}
