.container {
  margin: 0 5px 0 5px;

  .featured_image {
    width: 100%;
    height: auto;
    max-height: 500px;
    aspect-ratio: 2/1;
    object-fit: cover;
    margin-bottom: 30px;
  }

  .title {
    font-family: IndieFlower-Regular, Arial, serif;
    font-weight: bold;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
  }

  .loader_title {
    width: 340px;
    height: 100%;
    background-color: #ebebeb;
    border: 2px solid #e1e1e1;
    border-radius: 5px;
  }

  .loader_image {
    width: 100%;
    height: 100%;
    background-color: #ebebeb;
    border: 2px solid #e1e1e1;
    border-radius: 5px;
  }

  .loader_content {
    width: 100%;
    height: 100%;
    background-color: #ebebeb;
    border: 2px solid #e1e1e1;
    border-radius: 5px;
    margin-bottom: 10px;
  }

  .wp_content {
    text-align: left;

    h4,
    h2 {
      font-family: IndieFlower-Regular, Arial, serif;
      font-weight: bolder;
    }

    img {
      max-width: 100% !important;
      height: auto !important;
    }

    figure {
      text-align: center;
      display: table;
      margin: auto;
      clear: both;
    }

    figcaption {
      line-height: 1.5;
      margin: 6px 0 0 0;
      color: #8c8c8c;
      font-size: 0.813em;
    }
  }
}

.loader_container {
  height: 100vh;
}
