.App {
  text-align: center;
  font-family: Oxygen-Regular;
}

@media screen and (min-width: 576px) {
  .page_column {
    width: 88.89%;
    max-width: 1280px;
    margin: auto;
  }
}

.App-logo {
  pointer-events: none;
  display: inline-block;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  text-align: left;
  color: white;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 20px;
  position: relative;
  z-index: 99;
}
.no_margin {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.social {
  padding: 5px;
  text-align: right;
}

.social a {
  text-decoration: none;
}

.pointer {
  cursor: pointer;
}

.App-link {
  color: #61dafb;
}

.App-title {
  font-family: IndieFlower-Regular, Arial, serif;
  font-size: 25px;
  margin-top: 5px;
  margin-left: 5px;
  white-space: nowrap;
  display: inline-block;
  cursor: pointer;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* @keyframes image-flip {
  from {
    transform: scaleX(1);
  }
  to {
    transform: scaleX(-1);
  }
} */

@font-face {
  font-family: 'IndieFlower-Regular';
  src: local('IndieFlower-Regular'),
    url(./fonts/IndieFlower-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Oxygen-Regular';
  src: local('Oxygen-Regular'),
    url(./fonts/Oxygen-Regular.ttf) format('truetype');
}

/* WordPress Styles for injected HTML */
.wp p.has-small-font-size {
  font-size: 13px !important;
}

footer {
  /* position: sticky; */
  /* bottom: 0; */
  width: 100%;
  background-color: #282c34;
  margin-top: 10px;
  padding: 10px;
}
